#overall-pace {
    font-size: 1.5rem;
}

#unit-fieldset {
    width: fit-content;
    display: inline;
}

#unit-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}